<!DOCTYPE html>
<html data-ng-app="walletApp">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title ng-bind="app_name"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="common.js"></script>
    <link href="js/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
  </head>

  <body data-name="hd_wallet" data-tools="newlib glibc pnacl" data-configs="Release Debug" data-path="{tc}/{config}" data-ng-controller="MainCtrl">

    <div class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" ng-bind="app_name"></a>
      </div>

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right" ng-if="getCurrentChildNode()">
          <li ng-if="areRequestsPending()">
            <a href="#" class="disabled">
              <span class="glyphicon glyphicon-flash"></span>
            </a>
          </li>
          <li>
            <p class="navbar-text">
              <span ng-bind="satoshiToUnit(getWalletBalance())"></span>
              <span ng-bind="unitLabel()"></span>
            </p>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!-- static navbar -->

    <div class="container" id="loading-container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="panel panel-info">
            <div class="panel-heading" id="statusField">Loading &hellip;</div>
            <div class="panel-body">
              <div class="progress progress-striped active">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 4100%">
                  <span class="sr-only">Loading</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- loading-container -->

    <div class="container" id="main-container">

      <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked" id="main-tabs">
          <li><a href="#home" data-toggle="tab">Home</a></li>
          <li ng-if="getCurrentChildNode()"><a href="#send" data-toggle="tab">Send</a></li>
          <li ng-if="getCurrentChildNode()"><a href="#receive" data-toggle="tab">Receive</a></li>
          <li><a href="#settings" data-toggle="tab">Settings</a></li>
        </ul>
      </div><!-- main-tabs col-md-2 -->

      <div class="col-md-10">

        <div class="tab-content">

          <!-- Home -->
          <div class="tab-pane fade active in" id="home">

            <div class="alert alert-danger alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <strong>Warning!</strong> This app is <strong>EXPERIMENTAL</strong>. Use only bitcoin you wish to <strong>LOSE FOREVER</strong>.
            </div>

            <div class="panel panel-success" ng-if="!isWalletKeySet()">
              <div class="panel-heading">Get Started</div>
              <div class="panel-body">
                <p class="lead">Welcome to {{app_name}}! Let's set up your wallet.</p>
                <ul>
                  <li ng-if="!isPassphraseSet()"><strong>Set a passphrase.</strong> Go to <span class="label label-primary">Settings</span> and enter a passphrase that will protect your wallet.</li>
                  <li ng-if="isPassphraseSet() && !isWalletUnlocked()"><strong>Unlock your wallet.</strong> You'll need your wallet unlocked to add a master key to it. Click the lock icon <span class="glyphicon glyphicon-lock ok"></span> to enter your wallet passphrase.</li>
                  <li><strong>Create or import a master key.</strong> Go to <span class="label label-primary">Master Key</span> and create a new master key. Or, if you already have an xprv-formatted BIP0032 master key, import it.</li>
                </ul>
              </div>
            </div>

            <div class="panel panel-default" ng-if="isWalletKeySet()">
              <div class="panel-heading">Recent Transactions</div>
              <div class="panel-body scrollable-pane" id="recent-tx-panel-body">
                <p id="no-transactions" ng-if="getRecentTransactions().length == 0">None.</p>
                <table id="transaction-table" class="table table-striped" ng-if="getRecentTransactions().length != 0">
                  <thead>
                    <tr>
                      <th>Date</th><th>Address</th><th>Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr data-ng-repeat="tx in getRecentTransactions() track by $index">
                      <td><a href="https://blockchain.info/tx/{{tx.tx_hash}}" target="_blank">{{friendlyTimestamp(tx.timestamp)}}</a></td><td>{{tx.addr_b58}}</td><td>{{satoshiToUnit(tx.value)}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <!-- Send -->
          <div class="tab-pane fade" id="send">
            <div class="panel panel-default">
              <div class="panel-heading">Send Bitcoin</div>
              <div class="panel-body">
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label for="send-to" class="col-md-2 control-label">Send To</label>
                    <div class="col-md-10">
                      <input type="text" class="form-control" id="send-to" placeholder="Bitcoin Address" ng-model="w.sendTo">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="send-amount" class="col-md-2 control-label">Amount</label>
                    <div class="col-md-4">
                      <input type="number" step="any" min="0" class="form-control" id="send-amount" placeholder="{{unitLabel()}} To Send" ng-model="w.sendValue">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="send-fee" class="col-md-2 control-label">Fee</label>
                    <div class="col-md-4">
                      <input type="number" step="any" min="0" class="form-control" id="send-fee" placeholder="Transaction Fee in {{unitLabel()}}" ng-model="w.sendFee">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                      <button class="btn btn-warning" ng-if="!isWalletUnlocked()" data-toggle="modal" data-target="#unlock-wallet-modal"><span class="glyphicon glyphicon-lock ok"></span> Unlock Wallet to Send</button>
                      <button type="submit" class="btn btn-primary" ng-if="isWalletUnlocked()" ng-click="send()">Send</button>
                      <button type="cancel" class="btn btn-default">Cancel</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <!-- Receive -->
          <div class="tab-pane fade" id="receive">
            <div class="panel panel-default">
              <div class="panel-heading">Receive Bitcoin</div>
              <div class="panel-body scrollable-pane" id="receive-panel-body">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Receiving Address</th><th>Balance ({{unitLabel()}})</th><th>Tx Count</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr data-ng-repeat="addr in getPublicAddresses() track by $index">
                      <td>
                        <a class="addr-qr" data-toggle="modal" data-target="#address-detail-modal" ng-click="setAddress(addr)">{{addr}}</a>
                      </td>
                      <td>{{satoshiToUnit(getAddressBalance(addr))}}</td>
                      <td>{{getAddressTxCount(addr)}}</td>
                    </tr>
                  </tbody>
                </table>

                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Change Address</th><th>Balance ({{unitLabel()}})</th><th>Tx Count</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr data-ng-repeat="addr in getChangeAddresses() track by $index">
                      <td>
                        <div class="dropdown">
                          <a class="dropdown-toggle" data-toggle="dropdown">{{addr}} <span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li><a href="https://blockchain.info/address/{{addr}}" target="_blank">Visit Blockchain.info for this address</a></li>
                            <li><a href="#">Transactions: {{addr.tx_count}}</a></li>
                            <li><a href="#">Generate receiving QR code</a></li>
                          </ul>
                        </div>
                      </td>
                      <td>{{satoshiToUnit(getAddressBalance(addr))}}</td>
                      <td>{{getAddressTxCount(addr)}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <!-- Settings -->
          <div class="tab-pane fade" id="settings">

            <div class="btn-toolbar">
              <ul class="nav nav-pills" id="settings-tabs">
                <li><a href="#settings-basic" data-toggle="tab">Basic</a></li>
                <li ng-if="isWalletUnlocked() || isWalletKeySet()"><a href="#settings-master-key" data-toggle="tab">Master Key</a></li>
                <li><a href="#settings-accounts" data-toggle="tab">Accounts</a></li>
                <li><a href="#settings-advanced" data-toggle="tab">Advanced</a></li>
              </ul>
            </div>

            <div class="tab-content">

              <!-- Settings - Basic -->
              <div class="tab-pane active fade" id="settings-basic">
                <!-- Passphrase -->
                <div class="panel panel-default">
                  <div class="panel-heading">Passphrase</div>
                  <div class="panel-body">
                    <div class="row" ng-if="isPassphraseSet() && !isWalletUnlocked()">
                      <button class="btn btn-warning col-md-offset-2" data-toggle="modal" data-target="#unlock-wallet-modal"><span class="glyphicon glyphicon-lock ok"></span> Unlock Wallet to Change Passphrase</button>
                    </div>

                    <form class="form-horizontal" role="form" ng-if="!isPassphraseSet() || isWalletUnlocked()">
                      <div class="form-group">
                        <label for="passphrase-new" class="col-md-2 control-label">New</label>
                        <div class="col-md-6">
                          <input type="password" class="form-control" id="passphrase-new" placeholder="New Passphrase" ng-model="w.passphraseNew">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="passphrase-confirm" class="col-md-2 control-label">Confirm</label>
                        <div class="col-md-6">
                          <input type="password" class="form-control" id="passphrase-confirm" placeholder="Confirm Passphrase" ng-model="w.passphraseConfirm">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                          <button type="submit" class="btn btn-primary" ng-click="setPassphrase()" ng-if="!isPassphraseSet()">Set</button>
                          <button type="submit" class="btn btn-primary" ng-click="setPassphrase()" ng-if="isPassphraseSet()">Change</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div><!-- panel-default -->

                <div class="panel panel-default">
                  <div class="panel-heading">Bitcoin</div>
                  <div class="panel-body">
                    <form class="form-horizontal" role="form">
                      <div class="form-group">
                        <label for="units-btc" class="col-md-2 control-label">Bitcoin Units</label>
                        <div class="col-md-4">
                          <select id="units-btc" class="form-control" ng-model="settings.units" ng-options="k as v for (k, v) in settings.availableUnits">
                          </select>
                        </div>
                      </div>
                    </form>
                  </div>
                </div><!-- panel-default -->
              </div>

              <!-- Settings - Master Key -->
              <div class="tab-pane active fade" id="settings-master-key">

                <!-- Management -->
                <div class="panel panel-default" ng-if="isWalletUnlocked() && !isWalletKeySet()">
                  <div class="panel-heading">Management</div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-6 col-md-offset-2">
                        <button class="btn btn-success" ng-click="newMasterKey()">New Master Key</button>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#import-master-key-modal">Import Master Key &hellip;</button>
                      </div>
                    </div>
                  </div>
                </div><!-- panel-default -->

                <!-- Master Key -->
                <div class="panel panel-default" ng-if="isWalletKeySet()">
                  <div class="panel-heading">Installed Master Key</div>
                  <div class="panel-body">
                    <form class="form-horizontal" role="form">
                      <div class="form-group">
                        <label for="fingerprint-readonly" class="col-md-2 control-label">Fingerprint</label>
                        <div class="col-md-3">
                          <input type="text" class="form-control" id="fingerprint-readonly" readonly value="{{getCurrentMasterNodeFingerprint()}}">
                        </div>
                        <div class="col-md-2">
                          <img id="master-key-fingerprint-img" class="img-thumbnail" width="64" height="64" alt="Fingerprint {{getCurrentMasterNodeFingerprint()}}"/>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="xpub-readonly" class="col-md-2 control-label">Public Key</label>
                        <div class="col-md-10">
                          <textarea rows="2" class="form-control" id="xpub-readonly" readonly ng-bind="getCurrentMasterNodePublicKey()"></textarea>
                        </div>
                      </div>
                      <div ng-if="isWalletUnlocked()">
                        <div class="form-group" ng-if="isWalletKeyPrivateSet()">
                          <div class="col-md-4 col-md-offset-2">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" ng-model="w.showPrivateKey">Show Private Key
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="form-group" ng-if="w.showPrivateKey && isWalletKeyPrivateSet()">
                          <label for="xprv-readonly" class="col-md-2 control-label">Private Key</label>
                          <div class="col-md-10">
                            <textarea class="form-control" id="xprv-readonly" readonly ng-bind="getWalletKeyPrivate()"></textarea>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="col-md-6 col-md-offset-2">
                            <button class="btn btn-danger" ng-click="removeMasterKey()">Remove Master Key</button>
                            <button class="btn btn-info" ng-click="exportMasterKey()">Export Master Key</button>
                          </div>
                        </div>
                      </div><!-- isWalletUnlocked -->

                    </form>
                  </div>
                </div><!-- panel-default -->
              </div><!-- master key tab-pane -->

              <!-- Settings - Accounts -->
              <div class="tab-pane fade" id="settings-accounts">

                <div class="panel panel-default" ng-if="isWalletUnlocked() && isMasterKeyInstalled()">
                  <div class="panel-heading">Management</div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-10 col-md-offset-2">
                        <button class="btn btn-success" ng-click="deriveNextChildNode()">Generate {{nextChildNodeName()}}</button>
                        <button class="btn btn-default" ng-click="watchNextChildNode()">Watch {{nextChildNodeName()}}</button>
                      </div>
                    </div>
                  </div><!-- /panel-body -->
                </div><!-- /panel-default -->

                <div class="panel panel-default">
                  <div class="panel-heading">Installed Accounts</div>
                  <div class="panel-body scrollable-pane">
                    <div ng-if="!getChildNodeCount()">
                      <p id="no-accounts">None.</p>
                      <ul>
                        <li ng-if="!isWalletUnlocked()">Unlock your wallet by clicking the lock icon <span class="glyphicon glyphicon-lock ok"></span> below.</li>
                        <li ng-if="!isMasterKeyInstalled()">Install a master private key by visiting the <span class="label label-primary">Master Key</span> section of <span class="label label-primary">Settings</span>.</li>
                        <li ng-if="isWalletUnlocked() && isWalletKeyPrivateSet()">Press the <span class="label label-success">Generate Account</span> button above.</li>
                      </ul>
                    </div>

                    <table class="table table-striped" ng-if="wallet.getChildNodeCount()">
                      <thead>
                        <tr>
                          <th>Parent</th><th>Index</th><th>Fingerprint</th><th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr data-ng-repeat="node in getChildNodes() track by $index">
                          <td>
                            {{node.parentFingerprint}}
                          </td>
                          <td>
                            {{node.prettyChildNum()}}
                          </td>
                          <td>
                            {{node.fingerprint}}
                          </td>
                          <td>
                            <button class="btn btn-primary" ng-click="selectChildNodeByIndex($index)" ng-disabled="node == getCurrentChildNode()">Use</button>
                            <button class="btn btn-danger" ng-click="removeChildNode(node)">Remove</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div><!-- /panel-body -->
                </div><!-- /panel-default -->
              </div><!-- account tab-pane -->

              <!-- Settings - Advanced -->
              <div class="tab-pane fade" id="settings-advanced">
                <div class="panel panel-danger">
                  <div class="panel-heading">Danger</div>
                  <div class="panel-body">
                    <form class="form-horizontal" role="form">
                      <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                          <button class="btn btn-danger" ng-click="clearEverything()">Clear Everything</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div><!-- panel-default -->
              </div>
            </div>

          </div><!-- Settings -->

        </div><!-- tab-content -->

        <div id="log" style="-webkit-user-select: initial"></div>
      </div><!-- col-md-10 -->
    </div><!-- main-container -->

    <div id="footer" class="navbar navbar-default navbar-fixed-bottom">

      <ul class="nav navbar-nav">
        <li ng-if="isPassphraseSet()">
          <a href="#" ng-if="!isWalletUnlocked()" data-toggle="modal" data-target="#unlock-wallet-modal">
            <span class="glyphicon glyphicon-lock ok" title="Your wallet is locked"></span>
          </a>
          <a href="#" ng-if="isWalletUnlocked()" ng-click="lockWallet()">
            <span class="glyphicon glyphicon-exclamation-sign danger" title="Your wallet is unlocked"></span>
          </a>
        </li>
        <li>
          <p class="navbar-text text-info small" ng-bind="app_version"></p>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-if="credentials.hasMultipleChildNodes()">
          <div class="btn-group navbar-pagination">
            <button id="account-prev" class="btn btn-default navbar-btn" ng-click="prevChildNode()">&laquo;</button>
            <button id="account" class="btn btn-default navbar-btn disabled" ng-bind="account.name()"></button>
            <button id="account-next" class="btn btn-default navbar-btn" ng-click="nextChildNode()">&raquo;</button>
          </div>
        </li>
        <li ng-if="getCurrentChildNode()">
          <p class="navbar-text" id="fingerprint-navbar" ng-bind="getCurrentChildNodeFingerprint()"></p>
        </li>
        <li>
          <img id="account-fingerprint-img" class="img-thumbnail navbar-icon" width="38" height="38" alt="Fingerprint {{getCurrentChildNodeFingerprint()}}" ng-if="getCurrentChildNode()"/>
        </li>
      </ul>
    </div><!-- footer -->

    <div id="listener"></div>

    <!-- Unlock wallet modal -->
    <div class="modal fade" id="unlock-wallet-modal" tabindex="-1" role="dialog" aria-labelledby="unlock-wallet-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="unlock-wallet-label">Unlock Wallet</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal" role="form" ng-submit="unlockWallet()">
              <div class="form-group">
                <label for="passphrase-unlock" class="col-md-2 control-label">Passphrase</label>
                <div class="col-md-6">
                  <input type="password" class="form-control" id="passphrase-unlock" placeholder="Passphrase" ng-model="w.passphraseNew">
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Unlock for One Minute</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Import master key modal -->
    <div class="modal fade" id="import-master-key-modal" tabindex="-1" role="dialog" aria-labelledby="import-master-key-label" aria-hidden="true">
      <div class="modal-dialog">
        <form class="form-horizontal" role="form" ng-submit="importMasterKey()">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Import Master Key</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="imported-master-key" class="col-md-3 control-label">Master Key</label>
                <div class="col-md-9">
                  <textarea rows="3" class="form-control" id="imported-master-key" placeholder="xprv-formatted BIP0032 master key" ng-model="w.importMasterKey"></textarea>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Import</button>
            </div>
          </div><!-- /.modal-content -->
        </form>
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Address detail modal -->
    <div class="modal fade" id="address-detail-modal" tabindex="-1" role="dialog" aria-labelledby="address-detail-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="address-detail-label" ng-bind="w.selectedAddress"></h4>
          </div>
          <div class="modal-body">
            <div class="center-block">
              <div id="qrcode"></div>
              <a href="https://blockchain.info/address/{{w.selectedAddress}}" target="_blank">More&#8230;</a>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal">OK</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script type="text/javascript" src="js/jquery/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="js/jquery/jquery.qrcode.min.js"></script>
    <script type="text/javascript" src="js/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/angular/angular.min.js"></script>
    <script type="text/javascript" src="utils.js"></script>
    <script type="text/javascript" src="storage.js"></script>
    <script type="text/javascript" src="settings.js"></script>
    <script type="text/javascript" src="credentials.js"></script>
    <script type="text/javascript" src="node.js"></script>
    <script type="text/javascript" src="wallet.js"></script>
    <script type="text/javascript" src="address.js"></script>
    <script type="text/javascript" src="electrum.js"></script>
    <script type="text/javascript" src="messaging.js"></script>
    <script type="text/javascript" src="index.js"></script>
    <script type="text/javascript" src="controllers.js"></script>
    <script type="text/javascript" src="app.js"></script>

  </body>
</html>
