<!DOCTYPE html>
<html data-ng-app="bitcoinWalletApp">
  <head>
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <title>Bitcoin Wallet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="common.js"></script>
    <link href="bootstrap-3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
  </head>

  <body data-name="hd_wallet" data-tools="newlib glibc pnacl" data-configs="Release Debug" data-path="{tc}/{config}" data-ng-controller="WalletController">

    <div id="wrap">

      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Bitcoin Wallet</a>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right" ng-if="account">
            <li>
              <a href="#"><span class="glyphicon glyphicon-refresh"></span></a>
            </li>
            <li>
              <p class="navbar-text" ng-data="account">{{account.balance}} <span ng-data="settings">{{settings.units}}</span></p>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!-- static navbar -->

      <div class="container" id="loading-container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-info">
              <div class="panel-heading">Loading &hellip;</div>
              <div class="panel-body">
                <div class="progress progress-striped active">
                  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 4100%">
                    <span class="sr-only">Loading</span>
                  </div>
                </div>
                <div id="statusField" class="alert alert-info">NO-STATUS</div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- loading-container -->

      <div class="container" id="main-container">

        <div class="col-md-2">
          <ul class="nav nav-pills nav-stacked" id="main-tabs">
            <li><a href="#home" data-toggle="tab">Home</a></li>
            <li><a href="#send" data-toggle="tab">Send</a></li>
            <li><a href="#receive" data-toggle="tab">Receive</a></li>
            <li><a href="#master-key" data-toggle="tab">Master Key</a></li>
            <li><a href="#settings" data-toggle="tab">Settings</a></li>
          </ul>
        </div><!-- main-tabs col-md-2 -->

        <div class="col-md-10">

          <div class="tab-content">

            <!-- Home -->
            <div class="tab-pane fade" id="home">
              <div class="panel panel-default">
                <div class="panel-heading">Transactions</div>
                <div class="panel-body">
                  <p id="no-transactions" ng-if="!(account && account.hasTransactions())">None.</p>
                  <table id="transaction-table" class="table table-striped"  ng-if="account && account.hasTransactions()">
                    <thead>
                      <tr>
                        <th>Date</th><th>Address</th><th>Amount</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr data-ng-repeat="tx in account.transactions">
                        <td>{{tx.date}}</td><td>{{tx.address}}</td><td>{{tx.amount}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <!-- Send -->
            <div class="tab-pane fade" id="send">
              <div class="panel panel-default">
                <div class="panel-heading">Send Bitcoin</div>
                <div class="panel-body">
                  <form class="form-horizontal" role="form">
                    <div class="form-group">
                      <label for="send-to" class="col-md-2 control-label">Send To</label>
                      <div class="col-md-10">
                        <input type="text" class="form-control" id="send-to" placeholder="Bitcoin Address">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="send-amount" class="col-md-2 control-label">Amount</label>
                      <div class="col-md-4">
                        <input type="number" class="form-control" id="send-amount" placeholder="Amount To Send">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="send-fee" class="col-md-2 control-label">Fee</label>
                      <div class="col-md-4">
                        <input type="number" class="form-control" id="send-fee" placeholder="Amount of Transaction Fee">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-md-offset-2 col-md-10">
                        <button class="btn btn-primary">Send</button>
                        <button class="btn btn-default">Cancel</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <!-- Receive -->
            <div class="tab-pane fade" id="receive">
              <div class="panel panel-default">
                <div class="panel-heading">Receive Bitcoin</div>
                <div class="panel-body">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="1" checked>
                      Show used addresses
                    </label>
                  </div>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Receiving Address</th><th>Balance</th><th>TX Count</th><th>&nbsp;</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr data-ng-repeat="addr in account.addresses">
                        <td>{{addr.address}}</td><td>{{addr.balance}}</td><td>{{addr.tx_count}}</td><td><button type="button" class="btn btn-primary btn-sm">Use</button></td>
                      </tr>
                    </tbody>
                  </table>

                  <ul class="pagination">
                    <li><a href="#">&laquo;</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&raquo;</a></li>
                  </ul>

                </div>
              </div>
            </div>

            <!-- Key -->
            <div class="tab-pane fade" id="master-key">

              <!-- Management -->
              <div class="panel panel-default">
                <div class="panel-heading">Management</div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-6 col-md-offset-2">
                      <button class="btn btn-success" ng-click="newMasterKey()">New Master Key</button>
                      <button class="btn btn-primary" ng-click="importMasterKey()">Import Master Key &hellip;</button>
                    </div>
                  </div>

                </div>
              </div><!-- panel-default -->

              <!-- Installed Master Key -->
              <div class="panel panel-default" ng-if="masterKey">
                <div class="panel-heading">Installed Master Key</div>
                <div class="panel-body">
                  <form class="form-horizontal" role="form">
                    <div class="form-group">
                      <label for="fingerprint-readonly" class="col-md-2 control-label">Fingerprint</label>
                      <div class="col-md-3">
                        <input type="text" class="form-control" id="fingerprint-readonly" readonly ng-data="masterKey" value="{{masterKey.fingerprint}}">
                      </div>
                      <div class="col-md-2">
                        <img id="fingerprint-img-big" class="img-thumbnail" width="64" height="64" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="xpub-readonly" class="col-md-2 control-label">Public Key</label>
                      <div class="col-md-10">
                        <input type="text" class="form-control" id="xpub-readonly" readonly ng-data="masterKey" value="{{masterKey.xpub}}">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-md-4 col-md-offset-2">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" ng-model="masterKey.showXprv">Show Private Key
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group" ng-if="masterKey.showXprv">
                      <label for="xprv-readonly" class="col-md-2 control-label">Private Key</label>
                      <div class="col-md-10">
                        <input type="text" class="form-control" id="xprv-readonly" readonly ng-data="masterKey" value="{{masterKey.xprv}}">
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-md-4 col-md-offset-2">
                        <button class="btn btn-danger" ng-click="removeMasterKey()">Remove Master Key</button>
                      </div>
                    </div>

                  </form>
                </div>
              </div><!-- panel-default -->

            </div><!-- Key -->

            <!-- Settings -->
            <div class="tab-pane fade" id="settings">

              <!-- Password -->
              <div class="panel panel-default">
                <div class="panel-heading">Password</div>
                <div class="panel-body">
                  <form class="form-horizontal" role="form">
                    <div class="form-group">
                      <label for="password-edit" class="col-md-2 control-label">Password</label>
                      <div class="col-md-6">
                        <input type="password" class="form-control" id="password-edit" placeholder="New Password">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="password-confirm" class="col-md-2 control-label">Confirm</label>
                      <div class="col-md-6">
                        <input type="password" class="form-control" id="password-confirm" placeholder="Confirm Password">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-md-offset-2 col-md-10">
                        <button class="btn btn-primary">Set</button>
                        <button class="btn btn-default">Remove</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div><!-- panel-default -->

              <div class="panel panel-default">
                <div class="panel-heading">Bitcoin</div>
                <div class="panel-body">
                  <form class="form-horizontal" role="form">
                    <div class="form-group">
                      <label for="units-btc" class="col-md-2 control-label">Bitcoin Units</label>
                      <div class="col-md-4">
                        <select class="form-control">
                          <option>BTC</option>
                          <option>mBTC</option>
                          <option>uBTC</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </div>
              </div><!-- panel-default -->

            </div><!-- Settings -->

          </div><!-- tab-content -->

          <div id="log" style="-webkit-user-select: initial"></div>
        </div><!-- col-md-10 -->
      </div><!-- main-container -->
    </div><!-- wrap -->

    <div id="footer" class="navbar navbar-default navbar-fixed-bottom">
      <ul class="nav navbar-nav navbar-right">
        <li ng-if="account">
          <div class="btn-group navbar-pagination">
            <button id="account-prev" class="btn btn-default navbar-btn" ng-click="prevAccount()">&laquo;</button>
            <button id="account" class="btn btn-default navbar-btn disabled" ng-data="account">Account {{ account.number }}</button>
            <button id="account-next" class="btn btn-default navbar-btn" ng-click="nextAccount()">&raquo;</button>
          </div>
        </li>
        <li>
          <p class="navbar-text" id="fingerprint-navbar" ng-data="masterKey">{{masterKey.fingerprint}}</p>
        </li>
        <li>
          <img id="fingerprint-img" class="img-thumbnail navbar-icon" width="38" height="38" />
        </li>
      </ul>
    </div><!-- footer -->

    <div id="listener"></div>

    <script type="text/javascript" src="jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="bootstrap-3.0.3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="wallet.js"></script>

  </body>
</html>
