html, body {
  height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

#loading-container {
  margin-top: 8em;
}

#main-container {
  display: none;
}

#settings-tabs {
  margin-bottom: 20px;
}

.invisible {
  visibility: hidden;
}

.navbar-icon {
  padding: 0;
  margin: 6px 15px;
  border: 0;
}

.navbar-fixed-bottom {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-pagination {
  margin-left: 15px;
  margin-right: 15px;
}

.danger {
  color: red;
}

.ok {
  color: green;
}
